<header>
    <div class="container">
      <nav>
        <div>
          <h1 style="margin: 0px">Kanban</h1>
        </div>
        <ul>
          <li>
            Features
          </li>
          <li>
            Team
          </li>
          <li>
            Sign In
          </li>
        </ul>
      </nav>
      <div class="flex">
        <div>
          <img src="images/illustration-1.svg" alt="">
        </div>
        <div>
          <h1>Organize all your tasks in one place, accessible anywhere.</h1>

          <p>Kanban simplifies your workflow and boost productivity. Create customizable boards, columns, and tasks to suit your needs, and invite team members to collaborate in real-time. Access your projects from anywhere, and watch your tasks flow effortlessly from start to finish.</p>
          <form>
            <input type="email" placeholder="Enter your email...">
            <button>
              Get Started
            </button>
          </form>
          <div>
            <button class="api">
              <a href="/home">Try for Free</a>
            </button>
          </div>
        </div>
      </div>
</header>

<section class="mid-section">
<div class="container">
    <div class="flex">
    <div>
        <img src="images/illustration-2.svg" alt="">
    </div>

    <div>
        <h2>Stay productive, wherever you are</h2>

        <p>Work from anywhere, without location limits. KanbanFlow covers all your workflow needs, allowing you to access your boards and tasks from any device, at any time.</p>

        <p>Collaborate live with team members, securely sharing tasks and boards. No more email clutter! KanbanFlow streamlines your workflow, making it easy to work together and get things done.</p>

        <div class="link">
        <a href="#">See how Kanban works
            <img src="images/icon-arrow.svg" alt="">
        </a>
        </div>

        <div class="testimonial-box">
        <img src="images/icon-quotes.svg" alt="">
        <p>Kanban has revolutionized our team's productivity, boosting it by an order of magnitude! Since switching, our team has transformed into a seamless collaboration powerhouse, working together like a well-oiled machine.</p>
        <div class="user-info">
            <img src="images/avatar-testimonial.jpg" alt="">
            <div>
            <h4>Jesufemi Oladapo</h4>
            <small>Founder & CEO, Kanban</small>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
</section>

<section class="low-section">
<div class="container">
    <div class="flex">
    <div>
        <h2>Get early access today</h2>

        <p>It only takes a minute to sign up and our free starter tier is extremely generous. 
        If you have any questions, our support team would be happy to help you.</p>
    </div>
    
    <form>
        <input type="email" placeholder="email@example.com">
        <button>
        Get Started For Free
        </button>
    </form>
    </div>
</div>
</section>

<footer>
<div class="container">
    <div>
    <img src="images/logo.svg" alt="">
    </div>
    <div class="flex">
        <div class="contact-address">
        <div class="phone">
            <img src="images/icon-phone.svg" alt="">
            <p>Phone: +234-713-1243-457</p>
        </div>
        <div class="mail">
            <img src="images/icon-email.svg" alt="">
            <p>example@kanban.com</p>
        </div>
        </div>

        <ul class="first-list">
        <li><a href="">About Us</a></li>
        <li><a href="">Jobs</a></li>
        <li><a href="">Press</a></li>
        <li><a href="">Blog</a></li>
        </ul>

        <ul class="second-list">
        <li><a href="">Contact Us</a></li>
        <li><a href="">Terms</a></li>
        <li><a href="">Privacy</a></li>

        </ul>

        <ul class="social">
        <li><a class="circle"><i class="fab fa-facebook"></i></a></li>
        <li><a class="circle"><i class="fab fa-twitter"></i></a></li>
        <li><a class="circle"><i class="fab fa-instagram"></i></a></li>
        </ul>
    </div>
</div>
</footer>